<h3><strong>TRACKING MASIVO</strong></h3>
<h3><u><strong>Objetivo:</strong></u></h3>
<p><em>El objetivo es que el cliente pueda realizar el rastreo / tracking de sus paquetes de forma masiva a través de un webservice y obtenga los distintos estados por cada una de las piezas. </em></p>
<h3><u><strong>PARÁMETROS DE ENTRADA:</strong></u></h3>
<p><em>Este servicio es REST y se utiliza con el metodo POST, los datos enviados debe ser en formato JSON.</em></p>
<h4><strong><u>PARÁMETROS:</u></strong></h4>

<h5><strong>JSON</strong></h5>

<table class="table table-striped table-dark">
  <thead>
  <tr>
    <th class="bg-danger"scope="col">Nombre</th>
    <th class="bg-danger" scope="col">Requerido</th>
    <th class="bg-danger" scope="col">Tipo dato</th>
    <th class="bg-danger" scope="col">Consideraciones</th>

  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>Otto</td>


  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>Otto</td>

  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>Thornton</td>

  </tr>
  <tr>
    <th scope="row">4</th>
    <td>Larry</td>
    <td>the Bird</td>
    <td>the Bird</td>

  </tr>

  </tbody>
</table>
